[submodule "themes/researcher"]
	path = themes/researcher
	url = https://github.com/ojroques/hugo-researcher.git
[submodule "themes/themes/researcher"]
	path = themes/themes/researcher
	url = https://github.com/ojroques/hugo-researcher.git
